@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-display: swap; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
  color: #000000;
  background: #FFFFFF; }
  body.no-scroll {
    overflow: hidden; }

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

a, button {
  outline: none; }

h1 {
  font-size: 56px;
  font-weight: bold; }
  @media screen and (max-width: 576.98px) {
    h1 {
      font-size: 40px; } }

.header {
  width: 100%;
  height: 100px;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 576.98px) {
    .header {
      height: 60px;
      padding: 0 16px;
      justify-content: space-between; } }
  .header .logo {
    display: block; }
    .header .logo img {
      max-width: 100%;
      height: 20px; }
      @media screen and (max-width: 576.98px) {
        .header .logo img {
          height: 16px; } }
  .header .signup {
    color: #999999;
    font-size: 14px;
    margin-left: auto;
    margin-right: 24px; }
    @media screen and (max-width: 576.98px) {
      .header .signup {
        display: none; } }
  .header .btn-accent {
    width: 170px; }
    @media screen and (max-width: 576.98px) {
      .header .btn-accent {
        width: 120px; } }

.btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 18px;
  border-radius: 100px;
  transition: background-color .3s ease, opacity .3s ease;
  cursor: pointer;
  position: relative; }
  .btn.btn-accent {
    border: 1px solid #4E74F5;
    background: #4E74F5;
    color: #FFFFFF;
    user-select: none; }
    .btn.btn-accent:hover {
      background: #3661f4; }
  .btn.btn-outline {
    border: 1px solid #e6e6e6;
    background: #FFFFFF;
    color: #000000; }
    .btn.btn-outline:hover {
      background: #F6F8FF; }
  .btn.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px; }
    .btn.btn-with-icon img {
      margin-right: 16px; }
      @media screen and (max-width: 576.98px) {
        .btn.btn-with-icon img {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%); } }
  .btn.btn-text {
    display: inline-block;
    background: transparent;
    border-radius: 0;
    border: none;
    width: auto;
    padding: 0;
    margin: 0 auto;
    color: #4E74F5; }
  .btn:disabled {
    opacity: .5; }
  @media screen and (max-width: 576.98px) {
    .btn {
      font-size: 12px;
      padding: 14px; } }

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px; }
  @media screen and (max-width: 576.98px) {
    .social {
      flex-direction: column; } }
  .social .btn:first-child {
    margin-right: 16px; }
    @media screen and (max-width: 576.98px) {
      .social .btn:first-child {
        margin-right: 0;
        margin-bottom: 9px; } }

.page {
  max-width: 528px;
  margin: 50px auto 0;
  padding: 0 16px; }
  .page h1 {
    display: block;
    text-align: center;
    margin: 0 0 16px; }
  .page p {
    color: #999999;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px; }
    @media screen and (max-width: 576.98px) {
      .page p {
        font-size: 14px;
        margin-bottom: 24px; } }
    .page p.divider {
      margin-bottom: 12px; }
  .page .btn-accent {
    padding: 22px; }
  .page .remember, .page .promo, .page .policy {
    text-align: center; }
  .page .promo {
    margin-bottom: 48px; }
  .page .policy {
    margin-top: 24px; }
    .page .policy p {
      font-size: 14px;
      color: #000000;
      font-weight: bold;
      margin: 0; }
      @media screen and (max-width: 576.98px) {
        .page .policy p {
          font-size: 12px; } }
      .page .policy p .btn {
        padding: 0;
        margin: 0; }
  .page.forgot-password {
    max-width: 452px; }
    .page.forgot-password .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px; }
      .page.forgot-password .icon img {
        flex: none;
        width: 100px;
        height: 100px; }
    .page.forgot-password h1 {
      font-size: 32px;
      margin-bottom: 8px; }
      @media screen and (max-width: 576.98px) {
        .page.forgot-password h1 {
          font-size: 24px; } }
    @media screen and (max-width: 576.98px) {
      .page.forgot-password p {
        max-width: 290px;
        margin: 0 auto 24px;
        line-height: 1.5; } }
    .page.forgot-password .back {
      text-align: center; }
      .page.forgot-password .back .grey {
        color: #999999; }

.form .form-group {
  padding: 8px 0;
  position: relative; }
  .form .form-group .error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    color: #FB2424;
    font-size: 12px;
    white-space: nowrap;
    text-align: center; }

.form input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  color: #000000;
  font-weight: bold;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  outline: none;
  transition: border-color .3s ease, background-color .3s ease; }
  .form input.invalid {
    border-color: #F90043; }
  .form input.valid {
    border-color: #e6e6e6;
    background: #F6F8FF; }
  .form input::placeholder {
    color: #e6e6e6; }

.form .btn {
  margin-top: calc(32px - 8px);
  border-radius: 64px; }
