.btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 18px;
  border-radius: 100px;
  transition: background-color .3s ease, opacity .3s ease;
  cursor: pointer;
  position: relative;

  &.btn-accent {
    border: 1px solid $accent;
    background: $accent;
    color: $white;
    user-select: none;

    &:hover {
      background: darken($accent, 5%);
    }
  }

  &.btn-outline {
    border: 1px solid $placeholder;
    background: $white;
    color: $dark;

    &:hover {
      background: $hover;
    }
  }

  &.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    img {
      margin-right: 16px;

      @include mobile {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.btn-text {
    display: inline-block;
    background: transparent;
    border-radius: 0;
    border: none;
    width: auto;
    padding: 0;
    margin: 0 auto;
    color: $accent;
  }

  &:disabled {
    opacity: .5;
  }

  @include mobile {
    font-size: 12px;
    padding: 14px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  @include mobile {
    flex-direction: column;
  }

  .btn {
    &:first-child {
      margin-right: 16px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 9px;
      }
    }
  }
}
