.form {

  .done {
    display: block;
    color: green;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
  }

  .form-group {
    padding: 8px 0;
    position: relative;

    .error {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      color: #FB2424;
      font-size: 12px;
      white-space: nowrap;
      text-align: center;
    }
  }

  input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 16px 20px;
    color: $dark;
    font-weight: bold;
    border: 1px solid $placeholder;
    border-radius: 12px;
    outline: none;
    -webkit-appearance: none;
    transition: border-color .3s ease, background-color .3s ease;

    @include desktop {
      font-size: 16px !important;
    }

    &.invalid {
      border-color: #F90043;
    }

    &.valid {
      border-color: $accent;
      background: $hover;
    }

    &::placeholder {
      color: $placeholder;
    }
  }

  .login-error {
    display: block;
    color: #FB2424;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
  }

  .btn {
    margin-top: calc(32px - 8px);
    border-radius: 64px;
  }
}
