.login {
  max-width: 528px;
  margin: 50px auto 0;
  padding: 0 16px;

  h1 {
    display: block;
    text-align: center;
    margin: 0 0 16px;
  }

  p {
    color: $grey;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;

    @include mobile {
      font-size: 14px;
      margin-bottom: 24px;
    }

    &.divider {
      margin-bottom: 12px;
    }
  }

  .btn-accent {
    padding: 22px;
  }


  .remember {
    text-align: center;
  }
}
