@import "fonts";
@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
  color: $dark;
  background: $white;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a, button {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-size: 32px;
  font-weight: bold;

  @include mobile {
    font-size: 28px;
  }

  @include mobile-s {
    font-size: 24px;
  }
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 18px;
  border-radius: 100px;
  transition: background-color .3s ease;
  cursor: pointer;
  position: relative;

  &.btn-accent {
    border: 1px solid $accent;
    background: $accent;
    color: $white;
  }

  &.btn-outline {
    border: 1px solid $placeholder;
    background: $white;
    color: $dark;
  }

  &.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    img {
      margin-right: 16px;

      @include mobile {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include mobile {
    font-size: 12px;
    padding: 14px;
  }
}


@import "header";
@import "login";
