.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-appearance: none;

  .icon {
    margin-right: 8px;

    i {
      font-size: 24px;
    }
  }

  &.ButtonSolid {
    color: #FFFFFF;
    border: 1px solid #4E74F5;
    background: #4E74F5;

    &:hover {
      opacity: 0.8;
    }
  }

  &.ButtonOutline {
    color: #4E74F5;;
    border: 1px solid #4E74F5;
    background: transparent;

    &:hover {
      opacity: 1;
      color: #FFFFFF;
      border: 1px solid #4E74F5;
      background: #4E74F5;
    }
  }

  &.ButtonGreenOutline {
    color: #28a745;
    border: 1px solid #28a745;
    background: transparent;

    &:hover {
      opacity: 1;
      color: #FFFFFF;
      border: 1px solid #28a745;
      background: #28a745;
    }
  }

  &.ButtonGreenSolid {
    color: #FFFFFF;
    border: 1px solid #28a745;
    background: #28a745;

    &:hover {
      opacity: 0.8;
    }
  }
}
