.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: background 0.5s ease;
  background: rgba(71, 106, 111, 0.5);
  backdrop-filter: blur(2px);
  z-index: 5;
  padding: 16px;
}

.body {
  position: relative;
  width: 100%;
  max-width: 550px;
  padding: 16px;
  background: #fff;
  border-radius: 10px;
  top: 200px;
  z-index: 1;
  margin: 0 auto;
  max-height: 480px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  border-radius: 50%;
  height: 32px;
  background: #f7f7f7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
